xg.19940228.xyz {
    gzip
    tls a10247107@gmail.com
    proxy /l-ray v2ray:44222 {
        websocket
        header_upstream -Origin
    }
    proxy /l-ss v2ray:44333 {
        websocket
        header_upstream -Origin
    }
    proxy /ss ss:44444 {
        websocket
        header_upstream -Origin
    }
    proxy / https://waylau.com
        # write log to stdout for docker
        log stdout
        errors stdout
}


http://*.ngrok.19940228.xyz {
    gzip
    proxy / ngrok:80 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
}

*.ngrok.19940228.xyz {
    gzip
    tls a10247107@gmail.com {
        dns cloudflare
    }
    proxy / ngrok:80 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
}

#dropbox.19940228.xyz{
#    gzip
#    tls a10247107@gmail.com {
#        dns cloudflare
#    }
#    proxy / transmit:7001 {
#        header_upstream Host {host}
#        header_upstream X-Real-IP {remote}
#        header_upstream X-Forwarded-For {remote}
#        header_upstream X-Forwarded-Proto {scheme}
#    }
#}

rclone.19940228.xyz {
    gzip
    tls a10247107@gmail.com {
        dns cloudflare
    }
    proxy / nginx:80 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
}

dropbox.19940228.xyz {
  gzip
  tls a10247107@gmail.com
  # log  /var/log/caddy/dropbox.19940228.xyz.log         
  #访问日志输出位置

  #errors  /var/log/caddy/dropbox.19940228.xyz.log         
  #错误日志输出位置
  root /dropbox
  browse
}
